@import "style.css";

@media (max-width: 1199.98px){
  #what-we-do{
    .container{
      .title{
        .text{
          margin: 0 338px;
        }
      }
      .content{
        justify-content: center;
        flex-wrap: wrap;
        >img{
          margin-top: 50px;
        }
      }
    }
  }
  #pricing{
    .container{
      .title{
        .text{
          margin: 0 338px;
        }
      }
      >ul{
        justify-content: space-around;
        flex-wrap: wrap;
        li{
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: 991.98px){
  #what-we-do{
    .container{
      .title{
        .text{
          margin: 0 226px;
        }
      }
      >ul{
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }
  #pricing{
    .container{
      .title{
        .text{
          margin: 0 226px;
        }
      }
    }
  }
  footer{
    .container{
      flex-wrap: wrap;
      text-align: center;
      nav{
        margin: 15px auto;
        &:nth-child(2){
          ul{
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  #what-we-do{
    .container{
      .title{
        .text{
          margin: 0 122px;
        }
      }
    }
  }
  #pricing{
    .container{
      .title{
        .text{
          margin: 0 122px;
        }
      }
    }
  }
  #work-together{
    .container{
      flex-wrap: wrap;
      >div{
        div{
          margin-bottom: 20px;
        }
      }
      form{
        button{
          margin-top: 20px;
        }
      }
    }
  }
}