* {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-left: 0;
  padding-right: 0;
  color: #60606e;
}

a:link, a:visited {
  color: #60606e;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background: url("../../images/bg/about_bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}
header .container {
  padding-bottom: 160px;
}
header .navbar {
  justify-content: space-between;
  background-color: transparent !important;
}
header .navbar p {
  margin: 0;
}
header .navbar button span.navbar-toggler-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAPAQMAAAAmtobhAAAAAXNSR0IB2cksfwAAAAZQTFRFAAAAYGBuIkdVFwAAAAJ0Uk5TAP9bkSK1AAAAFklEQVR4nGP4////Pwb8gKACoBKgGgB2cwj1nmVScgAAAABJRU5ErkJggg==");
}
header #navbarToggleExternalContent div {
  display: flex;
  justify-content: center;
  background-color: #7676761c !important;
  border-radius: 12px;
}
header #navbarToggleExternalContent div.p-4 {
  padding: 12px !important;
}
header #navbarToggleExternalContent ul {
  display: flex;
  justify-content: space-between;
  width: 572px;
}
header h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 200px;
}
header p {
  font-size: 14px;
  font-weight: 700;
  margin-top: 28px;
}

#what-we-do .container {
  padding: 150px 0 100px;
}
#what-we-do .container .title {
  margin-right: 20px;
}
#what-we-do .container .title .text {
  background-color: #7beec7;
  width: 67px;
  height: 21px;
  position: relative;
  margin: 0 450px;
}
#what-we-do .container .title .text::before {
  content: "WHAT WE DO";
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
}
#what-we-do .container .title p {
  text-align: center;
  margin-top: 29px;
}
#what-we-do .container .content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
#what-we-do .container .content div {
  width: 550px;
}
#what-we-do .container .content div nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#what-we-do .container .content div nav ul {
  width: 254px;
}
#what-we-do .container .content div nav ul li {
  margin: 10px 0;
}
#what-we-do .container .content div nav ul li img {
  margin-right: 9px;
}
#what-we-do .container > ul {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
#what-we-do .container > ul li {
  width: 230px;
  text-align: center;
}
#what-we-do .container > ul li h4 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}
#what-we-do .container > ul li p {
  margin-top: 20px;
  line-height: 30px;
}

#pricing {
  padding: 150px 0 100px;
}
#pricing .container .title {
  margin-right: 20px;
}
#pricing .container .title .text {
  background-color: #7beec7;
  width: 67px;
  height: 21px;
  position: relative;
  margin: 0 450px;
}
#pricing .container .title .text::before {
  content: "PRICING PLANS";
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
}
#pricing .container .title p {
  text-align: center;
  margin-top: 29px;
}
#pricing .container > ul {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
#pricing .container > ul > li {
  width: 350px;
  padding: 35px;
  border-top: 4px solid #7beec7;
  border-radius: 15px;
  transition: 0.5s;
  cursor: pointer;
}
#pricing .container > ul > li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 26px 5px rgba(0, 0, 0, 0.26);
}
#pricing .container > ul > li h4 {
  font-size: 30px;
  font-weight: 700;
}
#pricing .container > ul > li .cost {
  color: #fff;
  width: 165px;
  height: 30px;
  background-color: #7beec7;
  text-align: center;
  padding: 5px 0;
  margin-top: 17px;
}
#pricing .container > ul > li ul {
  margin-top: 50px;
}
#pricing .container > ul > li ul li {
  margin: 10px 0;
}
#pricing .container > ul > li ul li img {
  margin-right: 9px;
}
#pricing .container > ul > li .btn {
  color: #fff;
  margin-top: 50px;
  padding: 13px 0;
  width: 140px;
  height: 50px;
  background-color: #7beec7;
}

#work-together {
  background-color: #7beec7;
}
#work-together .container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
#work-together .container > div {
  width: 520px;
}
#work-together .container > div h3 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
#work-together .container > div div {
  width: 165px;
  height: 50px;
  background-color: #fff;
  color: #7beec7;
  padding: 15px 0 0 28px;
  font-size: 15px;
  margin-top: 30px;
}
#work-together .container form {
  width: 546px;
  background-color: #fff;
  padding: 18px;
}
#work-together .container form h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
#work-together .container form input {
  border: 1px solid lightgray;
  height: 50px;
  width: 375px;
  padding: 0 8px;
}
#work-together .container form button {
  border: 1px solid #7beec7;
  background-color: #7beec7;
  height: 50px;
  width: 135px;
  color: #fff;
  font-size: 15px;
}

footer .container {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
footer .container nav ul {
  display: flex;
  justify-content: space-between;
  width: 572px;
}
footer .container nav:nth-child(2) p {
  margin-bottom: 30px;
}
footer .container nav:nth-child(2) ul {
  width: 175px;
  margin-left: 188px;
}

/*# sourceMappingURL=style.css.map */
